{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                Wheel Deals
            </a>
            <a class="navbar-brand" href="{{ url_for('index') }}">
                Products
            </a>
            <a class="navbar-brand" href="{{ url_for('Basket') }}">
                Basket
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content_1 %}
<header> <img src ="/static/Images/WD.jpg"></header>

<footer> Check out this website as well! <img src="/static/Images/Spokes_logo.png" alt="Spokes"> </footer>
<footer>Check out this website as well! <img src="/static/Images/F1.5.jpg" alt="F1"></footer>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}