{% extends "base.html" %}

{% block title %}Basket Page{% endblock %}
<link rel="products" href="{{ url_for(static, filename='products.css') }}">   

{% block page_content%}
{% if items |length !=0 %}
    {% set cost = namespace(value=0) %}
    <form method="POST">
    <table style="width: 100%;">
    <thead>
    <th style="width: 20%;" >Name</th>
    <th style="width: 25%;" >Price</th>
    <th style="width: 20%;">Amount</th>
    <th style="width: 25%;" >Cost for items</th>
    <th style="width: 10%;" >Remove from basket</th>
    </thead>
    {% for name in items %}
    <tr>
    <td><p>{{name}}</p></td>
    <td><p>£{{items[name]["price"]}}</p></td>
    <td><p>{{items[name]["amount"]}}</p></td>
    <td><p>£{{(items[name]["price"] *items[name]["amount"])}}</p></td>
    <td> <button name="Clear_item" value={{name}} type="submit">Remove item</button> </td>
    </tr>
    {% set cost.value = cost.value + items[name]["price"] *items[name]["amount"] %}
    {% endfor %}
    </table>
    
    <button name="clear_all" value="clear_all" type="submit"> clear basket</button>
    <!--<button name="Checkout" value="Checkout">Checkout</button>-->
    <a href="{{url_for('Checkout')}}">Go to checkout</a>
    <h3>Total cost : £{{cost.value}} </h3>
{% else %}
<h3>No items in basket</h3>
{% endif %}
</form>
{% endblock %}

