{% extends "base.html" %}


{% block title %}Product Page{% endblock %}

<head>
    <meta charset="UTF-8">
    <title> Index </title>
    <link rel="stylesheet" href="{{ url_for(static, filename='products.css') }}">                    
</head>


{% block page_content %}
    <h1>Product page</h1>
    
<form method="POST">
<table style="width:100%">
    <tr>
        <th style="width:50%"> Image</th>
        <th style="width:30%" > Description</th>
        <th style="width:10%;" > Price</th>
        <th style="width:10%">Add to basket</th>
    </tr>
    <tr>
        <td> <img id="photo"> <img src ="/static/Images/CW_1.jpg" alt = "AE86" style="height: auto; width: 50%;"></td>
        <td> (insert text here)</td>
        <td>£30000 </td>
        <td> <button name="name" value="AE86" type="submit"> Add to basket</button></td>
    </tr>
    <tr>
        <td> <img id="photo"> <img src= "static/Images/CW_2.jpg" alt="Nissan GTR" style="height: auto; width: 50%;" ></td>
        <td> (insert text here)</td>
        <td> £92000</td>
        <td> <button name="name" value="GTR" type="submit"> Add to basket</button></td>
    </tr>
    <tr>
        <td> <img id="photo"> <img src="/static/Images/CW_3.jpg" alt="Audi R8"style="height: auto; width:  50%;" ></td>
        <td> (insert text here)</td>
        <td> £120000</td>
        <td> <button name="name" value="Audi_R8" type="submit"> Add to basket</button></td>
    </tr>
    <tr> 
        <td> <img ID="photo" img src = "/static/Images/CW_4.jpg" alt = "Mclaren P1" style="height: auto; width: 50%;"></td>
        <td> (insert text here)</td>
        <td> £1200000</td>
        <td> <button name="name" value="P1" type="submit" > Add to basket</button></td>
    </tr>
    <tr> 
        <td> <img ID="photo" img src = "/static/Images/CW_5.jpg" alt = "Mazda RX-7" style="height: auto; width: 50%;"></td>
        <td> (insert text here)</td>
        <td> £21000</td>
        <td> <button name="name" value="RX-7" type="submit"> Add to basket</button></td>
    </tr>
    <tr>
        <td> <img ID="photo" img src ="/static/Images/CW_6.jpg" alt ="Nissan 180SX" style="height: auto; width: 50%;"> </td>
        <td> (insert text here)</td>
        <td> £16000</td>
        <td> <button name="name" value="180SX" type="submit"> Add to basket</button></td>
    </tr>
    <tr>
        <td> <img ID="photo" img src = "/static/Images/CW_7.jpg" alt= "Honda 2020 Acura NSX" style="height: auto; width: 50%;"></td>
        <td> (insert text here)</td>
        <td> £127000</td>
        <td> <button name="name" value="2020_acura" type="submit" > Add to basket</button></td>
    </tr>
    <tr> 
        <td> <img ID="photo" img src ="/static/Images/CW_8.jpg" alt = "Bugatti Chiron" style="height: auto; width: 50%;"> </td>
        <td> (insert text here)</td>
        <td> £2400000</td>
        <td> <button name="name" value="Bugatti" type="submit"> Add to basket</button></td>
    </tr>
    <tr>
        <td> <img ID="photo" img src ="/static/Images/CW_9.jpg" alt = "Reliant robin" style="height: auto; width: 50%;"> </td>
        <td> (insert text here)</td>
        <td> £4000</td>
        <td> <button name="name" value="Reliant_robin" type="submit" > Add to basket</button></td>
    </tr>
</table>
</form>
{% endblock %}


