{% extends "base.html" %}


{% block title %}Product Page{% endblock %}

<head>
    <meta charset="UTF-8">
    <title> Index </title>
    <link rel="stylesheet" href="{{ url_for(static, filename='products.css') }}">                    
</head>


{% block page_content %}
    <h1>Product page</h1>
    
<form method="POST">
    <label for="Filter_by">Filter By</label>
    <select name="Sort_by" id="Filter_by">
        <option value="Alphabetical">Alphabetical</option>
        <option value="Environmental_impact">Environmental impact</option>
        <option value="Price">Price</option>
    </select>
    <table style="width:100%">
        <tr>
            <th style="width:40%"> Image</th>
            <th style="width:10%;">Name</th>
            <th style="width:20%;" > Price</th>
            <th style="width:20%;">Environmental impact</th>
            <th style="width:10%">Add to basket</th>
        </tr>
        <tbody id="product_holder">
            {% for key in products %}
                <tr class = "Car">
                    <input type="hidden" id="data", name="{{key}},{{products[key]['price']}},{{products[key]['e_impact']}}">
                    <td> <img src ="/{{products[key]['img']}}" alt = "{{key}}" style="height: auto; width: 50%;"></td>
                    <td><a href="/Product?Car_name={{key}}">{{key}}</a></td>
                    <td>{{products[key]['price']}}</td>
                    <td> {{products[key]['e_impact']}} g CO2/Km</td>
                    <td> <button name="name" value="{{key}}" type="submit"> Add to basket</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<script src="../static/Filter.js" type="text/javascript" onload="mainSort('Alphabetical')"></script>
{% endblock %}


