#photo {
    width: 500px;
    height: auto;
    border: 20px;
    padding: 0%;}

table {
    border-collapse: collapse;
    width: 50%;}

    td, th {
    border: 2px solid  black;
    text-align: left;
    padding: 8px;}


tr:nth-child(odd) {
    background-color: #3B8CAD;}
